

/* FRONT PAGE */ 

.frontpage-h1 {
    font-size: 2rem;
}



.card-para {
    font-size: 2rem;
}

.drawer-side {
  z-index: 50; /* Set a higher z-index value */
}

/* BREAK POINTS */ 



@media only screen and (max-width: 480px) {
    .card-para {
      font-size: 1.2rem;
    }
    
    /* .lists {
      padding-left: 3rem;
      padding-right: 3rem;
    } */
  }